$-colors: (
  "primary": (
    "base": #65895f,
    "light-3": #6e7d60,
    "light-5": #7f977b,
    "light-7": #bea363,
    "light-9": #e6e6e6,
  ),
  "success": (
    "base": #e0da48,
  ),
  "warning": (
    "base": #e6a23c,
  ),
  "danger": (
    "base": #f56c6c,
  ),
  "error": (
    "base": #f56c6c,
  ),
  "info": (
    "base": #909399,
    "light-3": #f9f9f9,
  ),
);

$-text-color: (
  "primary": #646464,
  "regular": #1e1e1e,
  "secondary": #2f2f2f,
  "placeholder": #9e9e9e,
  "disabled": #c4c4c4,
);

@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: $-colors,
  $text-color: $-text-color
);

$form-item-margin-bottom: (
  "default": 8px,
);
